/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

/* LandingPage.css */

/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set default font family and background color */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
}






/* Other sections styles */
.new-section,
.features-section,
.testimonial-section,
.contact-section,
.footer-section {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
  color: #333;
  margin-bottom: 10px;
  font-family: "Creepster", cursive;
}

/* Text styles */
p {
  margin-bottom: 20px;
  color: #666;
}

/* Links styles */
a {
  color: #ffcf0b;
}

