/* LandingPage.css */
body {
  margin: 0;
  padding: 0;
}

.search-bar {
  border: solid black 1px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.weather-display {
  position: absolute;
  top: 84px; /* Position the weather display below the Navbar and the search bar */
  left: 1rem;
  background-color: transparent;
  padding: 1rem;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}