.main-home-container {
    position: relative;
    width: 100%;
    height: 45vh; /* Set the container height to 45% of the viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align content at the top */
  }
  
  .background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: backgroundAnimation 10s linear infinite alternate;
  }
  
  @keyframes backgroundAnimation {
    0% {
      background-color: #69c4c6;
      transform: scale(1);
    }
    100% {
      background-color: #fdc15d;
      transform: scale(1.05);
    }
  }
  