.main-home-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
  transform: translateX(0);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* ... (other styles) */

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  background: transparent;
}

.search-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: transparent;
}

.search-bar input {
  padding: 6px;
  font-size: 1rem;
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if needed */
  border-radius: 30px;
  border: none;
}

.search-bttn {
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 0 30px 30px 0;
  border: none;
  margin-left: -10px;
}

/* ... (other styles) */
