/* Search bar styles */
.search-bar {
    background-size: cover;
    background-color: #f0f0f0;
    color: #333;
    padding: 100px 0;
    text-align: center;
  }
  
  /* Search container styles */
  .search-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Form styles */
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Input styles */
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
  }
  
  /* Button styles */
  button {
    background-color: #ffcf0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ffc400;
  }